*.iml
.gradle
/.idea
.idea/misc.xml
/local.properties
/.idea/codeStyles/codeStyleConfig.xml
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

*.apk
output.json